<p id="notice"><%= notice %></p>


<% if request.original_url.split('=').last.include? '/' %>
 <h1>All movies</h1>
<% else %>
<h1>All <%= request.original_url.split('=').last %> Movies </h1>
<% end %>

<% @movies.each do |movie| %>
<h2><%= link_to movie.title, movie %></h2>
<p><%= truncate(movie.description, length: 200) %></p>
<% end %>

<%= link_to 'New Movie', new_movie_path %>


